:root{
    --mainColor: rgb(255, 0, 0);
    --grey: rgb(107, 107, 107);
    --black: black;
}



.navbar {
background-color: var(--mainColor) !important;
border-bottom: #3d3d3dc4 solid 6px;
}


#nav {
    color: whitesmoke !important;
    font-family: 'Chicle', cursive !important;
    text-shadow: 2px 2px 4px #616161;

}

#navTop {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Chicle', cursive !important;
    color: whitesmoke !important;
    text-shadow: 2px 2px 4px #353535;

}