#orderOpt {
    font-family: 'Fjalla One', sans-serif !important;
    text-shadow: 2px 2px 4px #616161;
}

#inputGroupSelect01, option {
    font-family: 'Fjalla One', sans-serif !important;
    /* text-shadow: 2px 2px 4px #616161; */
}