h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    font-family: 'Abril Fatface', cursive;
  
    text-shadow: 2px 2px 4px #353535;

}

#btnFix {
    background-color: rgb(255, 0, 0);
    font-family: 'Abril Fatface', cursive;
    color: whitesmoke !important;
    text-shadow: 2px 2px 4px #353535;
    float: right;
    padding: 10px;
}