#btnGo {
    background-color: rgb(255, 0, 0);
    font-family: 'Chicle', cursive !important;
    color: whitesmoke !important;
    text-shadow: 2px 2px 4px #353535;
   
}

#head {
    background-color:  #353535a1;
    text-align: center;
    
}
h5 {
    font-family: 'Chicle', cursive !important;
}

p {
    font-family: 'Chicle', cursive !important;
    font-weight: lighter;
    color: #666565;
}

#smallCard {
    width: 30rem !important;
    font-family: 'Chicle', cursive !important;
    text-align: center;

}