#form1 {
    border: rgba(0, 0, 0, 0.767) dotted 5px;
    padding: 30px;
}

#inputText {
   height: 20vh;
   text-align: top;
}

#font {
    font-family:  'Chicle', cursive !important;
}

Button {
    background-color: rgb(255, 0, 0) !important;
    font-family:  'Chicle', cursive !important;
    color: whitesmoke !important;
    text-shadow: 2px 2px 4px #353535;
    
}